[Unit]
Description=Update locate database

[Service]
Type=oneshot
ExecStart=/usr/bin/updatedb
Nice=19
IOSchedulingClass=best-effort
IOSchedulingPriority=7
