[Unit]
Description=CAPI to fax receive
Requires=faxq.service
After=faxq.service mISDNcapid.service

[Service]
ExecStart=/usr/bin/c2faxrecv
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
