[Unit]
Description=Munin Async Service
After=syslog.target network.target
After=munin-node.service
Requires=munin-node.service

[Service]
PIDFile=/run/munin/munin-asyncd.pid
ExecStart=/usr/lib/munin/munin-asyncd

[Install]
WantedBy=multi-user.target
