[Desktop Entry]
Name=Stellarium nightsky renderer
GenericName=Nightsky renderer
Comment=A real-time nightsky renderer
Categories=Education;Science;Astronomy;
Icon=/usr/share/pixmaps/stellarium.png
Exec=stellarium
Terminal=false
Type=Application
Encoding=UTF-8

