[Desktop Entry]
Categories=Application;Network;Internet;
Encoding=UTF-8
Exec=/usr/lib/wicd/gui.py
GenericName=Network Manager
Icon=/usr/share/pixmaps/wicd.png
Comment=Manage Wired/Wireless Networks
Name=Wicd
Terminal=false
Type=Application
Version=1.0
