[Unit]
Description = ProFTPD FTP Server
After = network.target nss-lookup.target local-fs.target remote-fs.target

[Service]
Type = forking
PIDFile = /run/proftpd/proftpd.pid
Environment = PROFTPD_ARGS=
EnvironmentFile = -/etc/conf.d/proftpd
ExecStart = /usr/sbin/proftpd $PROFTPD_ARGS
ExecReload = /bin/kill -HUP $MAINPID

[Install]
WantedBy = multi-user.target
