[Unit]
Description=Zabbix proxy with MySQL
After=network.target mysql.service
Conflicts=zabbix-proxy.service zabbix-proxy-pgsql.service

[Service]
Type=simple
ExecStart=/usr/bin/zabbix_proxy_mysql -f
User=zabbix-proxy
PrivateDevices=yes
PrivateTmp=yes
ProtectSystem=full
ProtectHome=yes
CapabilityBoundingSet=cap_net_raw
AmbientCapabilities=cap_net_raw

[Install]
WantedBy=multi-user.target
