[Unit]
Description=Loki is a horizontally-scalable, highly-available, multi-tenant log aggregation system

[Service]
Type=simple
ExecStart=/usr/bin/loki -config.file /etc/loki/loki.yaml
TimeoutStopSec=30s
