[Unit]
Description=NFS File Server Daemons
Wants=rpc-mountd.service
Wants=rpc-idmapd.service
Wants=rpc-rquotad.service
Wants=rpc-statd.service
Wants=rpc-svcgssd.service

[Install]
WantedBy=multi-user.target
