[Unit]
Description=Samba SMB/CIFS server instance

[Service]
Type=forking
PIDFile=/var/run/smbd.pid
ExecStart=/usr/sbin/smbd -F
ExecReload=/bin/kill -HUP $MAINPID
StandardInput=socket
