[Desktop Entry]
Name=Apricots
GenericName=Apricots
Comment=2D air combat game
Exec=apricots
Icon=apricots
Terminal=false
StartupNotify=false
Type=Application
Categories=Game;ArcadeGame;
