[Unit]
Description=Memcached Daemon
After=network.target

[Service]
User=memcached
# Remove '-l 127.0.0.1' to listen on all addresses
ExecStart=/usr/bin/memcached -l 127.0.0.1
Restart=always

[Install]
WantedBy=multi-user.target
