[Unit]
Description=A standalone and lightweight BitTorrent tracker
After=network.target

[Service]
ExecStart=/usr/bin/hefurd -torrent-dir=/var/lib/herfurd
User=nobody
Group=nobody

[Install]
WantedBy=multi-user.target
