[Desktop Entry]
Version=0.92
Encoding=UTF-8
MultipleArgs=false
Terminal=0
Icon=extension.png
Exec=/opt/openoffice/program/soffice slot:5500
Categories=Application;Office;X-Red-Hat-Base;X-SuSE-Core-Office;
Type=Application
Name=OpenOffice.org 3.1 From Template
Name[en]=OpenOffice.org 3.1 From Template
Name[de]=OpenOffice.org 3.1 Aus Vorlage
Name[pt]=OpenOffice.org 3.1 Aus Vorlage
Name[ru]=OpenOffice.org 3.1 из шаблона...
Name[el]=OpenOffice.org 3.1 Από πρότυπο
Name[nl]=OpenOffice.org 3.1 Uit sjabloon
Name[fr]=À partir d'un modèle OpenOffice.org 3.1
Name[es]=A partir de una plantilla de OpenOffice.org 3.1
Name[fi]=OpenOffice.org 3.1 Aus Vorlage
Name[hu]=OpenOffice.org 3.1 sablonból
Name[it]=OpenOffice.org 3.1 Da modello
Name[cs]=Ze šablony OpenOffice.org 3.1
Name[sk]=Zo šablóny OpenOffice.org 3.1
Name[da]=OpenOffice.org 3.1 Fra skabelon
Name[sv]=Från en OpenOffice.org 3.1-mall
Name[pl]=OpenOffice.org 3.1 Na podstawie szablonu
Name[pt_BR]=A partir de um modelo OpenOffice.org 3.1
Name[ja]=OpenOffice.org 3.1 テンプレートから
Name[ko]=OpenOffice.org 3.1 서식 파일로부터
Name[zh_CN]=OpenOffice.org 3.1 采用样式
Name[zh_TW]=OpenOffice.org 3.1 採用樣式
Name[tr]=OpenOffice.org 3.1 Şablondan
Name[ar]=OpenOffice.org 3.1 Aus Vorlage
Name[he]=OpenOffice.org 3.1 Aus Vorlage
Name[ca]=OpenOffice.org 3.1 Aus Vorlage
Name[th]=OpenOffice.org 3.1 จากแม่แบบ
Name[hi_IN]=OpenOffice.org 3.1 Aus Vorlage
Name[et]=OpenOffice.org 3.1 mallist
Name[sl]=OpenOffice.org 3.1 iz predloge
Name[ns]=OpenOffice.org 3.1 go tšwa go Template
Name[af]=OpenOffice.org 3.1 vanaf sjabloon
Name[zu]=I-OpenOffice.org 3.1 esuka Oqwenjini lokuphumelelisa
Name[nb]=OpenOffice.org 3.1 From Template
Name[cy]=OpenOffice.org 3.1 From Template
Name[tn]=OpenOffice.org 3.1 From Template
Name[nn]=OpenOffice.org 3.1 From Template
Name[eu]=OpenOffice.org 3.1 Aus Vorlage
Name[lt]=„OpenOffice.org 3.1“ dokumentas iš šablono
Name[kn_IN]=OpenOffice.org 3.1 ಸಿದ್ಧವಿನ್ಯಾಸ ಪುಟದಿಂದ
Name[gl]=A partir dun modelo de OpenOffice.org 3.1
