[Desktop Entry]
Categories=Science;Math
Comment=environment for numerical computing
Comment[en_GB]=environment for numerical computing
Exec=octave
GenericName=environment for numerical computing
GenericName[en_GB]=environment for numerical computing
Icon=/usr/share/pixmaps/octave.png
MimeType=
Name=octave
Path=
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
