[Desktop Entry]
Version=1.0
Encoding=UTF-8
Terminal=0
Categories=Application;Office;
Icon=/usr/share/OOodi2/pixmaps/pix.h
Exec=OOodi
Type=Application
Name=OpenOffice.org Dictonary installer
