[Desktop Entry]
Name=xpdf
Comment=Views Adobe PDF (acrobat) files
Exec=xpdf
Terminal=0
Type=Application
Icon=xpdf
Categories=Application;Office;
MimeType=application/pdf;
