[Unit]
Description=LVM activation
DefaultDependencies=no
Requires=systemd-udev-settle.service
After=systemd-udev-settle.service
Before=basic.target shutdown.target
Conflicts=shutdown.target

[Service]
ExecStart=/sbin/vgchange --available y
Type=oneshot
TimeoutSec=0
RemainAfterExit=yes

[Install]
WantedBy=basic.target
