[Desktop Entry]
Name=Foobillard
Comment=A 3D billiards game using OpenGL
Exec=foobillard
Icon=foobillard.png
Terminal=false
Type=Application
Categories=Game;SportsGame;
StartupNotify=false
