[Desktop Entry]
Encoding=UTF-8
Name=Xfig
Comment=Diagram editor
Exec=xfig
Icon=xfig
Icon=/usr/share/pixmaps/xfig.png
Terminal=false
Type=Application
Categories=Application;Graphics;
