[Unit]
Description=NFS Mount Server Daemon
Documentation=man:rpc.mountd(8)
After=rpcbind.service nfsd.service
Requires=rpcbind.service nfsd.service
Before=nfs-server.target
PartOf=nfs-server.target

[Service]
Type=forking
EnvironmentFile=/etc/conf.d/nfs-server.conf
ExecStart=/usr/bin/rpc.mountd $MOUNTD_OPTS

[Install]
WantedBy=multi-user.target
