[Unit]
Description=NFS v2/3 Network Status Monitor Daemon
Documentation=man:rpc.statd(8)
After=rpcbind.service
Requires=rpcbind.service
Before=nfs-server.target
PartOf=nfs-server.target
Wants=remote-fs-pre.target

[Service]
Type=forking
EnvironmentFile=/etc/conf.d/nfs-common.conf
ExecStart=/usr/bin/rpc.statd $STATD_OPTS

[Install]
WantedBy=multi-user.target
