[Unit]
Description=Hyla FAX queue manager

[Service]
ExecStart=/usr/sbin/faxq
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
