[Unit]
Description=Hyla FAX client-server

[Service]
ExecStart=/usr/lib/fax/hfaxd -i hylafax
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
