[Unit]
Description=Deluge WebUI
After=deluged.service

[Service]
User=deluge
EnvironmentFile=/etc/conf.d/deluged
ExecStart=/usr/bin/deluge-web $WEB_OPTIONS

[Install]
WantedBy=multi-user.target
