[Desktop Entry]
Name=XMaxima
GenericName=A computer algebra system
GenericName[de]=Computeralgebra System
GenericName[it]=algebra a livello avanzato
Comment=A sophisticated computer algebra system
Exec=xmaxima
Icon=/usr/share/pixmaps/maxima.png
Terminal=1
Type=Application
# Categories=Qt;KDE;Math;Education
Categories=Science;Math;CAS
