[Unit]
Description=Memcached Daemon
After=network.target

[Service]
User=memcached
# Remove '-l 127.0.0.1' to listen on all addresses
ExecStart=/usr/bin/memcached -l 127.0.0.1 -o slab_reassign,slab_automove,lru_crawler,lru_maintainer,maxconns_fast,hash_algorithm=murmur3
Restart=always

[Install]
WantedBy=multi-user.target
