[Unit]
Description=Secure NFS
Requires=var-lib-nfs-rpc_pipefs.mount
After=syslog.target var-lib-nfs-rpc_pipefs.mount

[Service]
Type=forking
EnvironmentFile=-/etc/conf.d/nfs
ExecStart=/usr/sbin/rpc.gssd $RPCGSSDARGS

[Install]
WantedBy=multi-user.target
