[Unit]
Description=RPC GSS-API Server Daemon
Documentation=man:rpc.svcgssd(8)
After=rpcbind.service
Requires=rpcbind.service
Before=nfs-server.target
PartOf=nfs-server.target

[Service]
Type=forking
EnvironmentFile=/etc/conf.d/nfs-server.conf
ExecStart=/usr/bin/rpc.svcgssd $SVCGSSD_OPTS

[Install]
WantedBy=multi-user.target
