[Unit]
Description=Rsync Socket
After=network.target
Conflicts=rsyncd.service

[Socket]
ListenStream=873
Accept=true

[Install]
WantedBy=sockets.target
