[Unit]
Description=OpenLDAP server daemon

[Service]
Type=forking
ExecStart=/usr/sbin/slapd -u ldap -g ldap -h "ldap://127.0.0.1:389/"

[Install]
WantedBy=multi-user.target
