[Unit]
Description=VPNC connection to %i
After=network.target

[Service]
Type=forking
ExecStart=/usr/bin/vpnc --pid-file=/run/vpnc@%i.pid /etc/vpnc/%i.conf
PIDFile=/run/vpnc@%i.pid
Restart=always

[Install]
WantedBy=multi-user.target
