[Unit]
Description=Modem Manager

[Service]
Type=dbus
BusName=org.freedesktop.ModemManager
ExecStart=/usr/sbin/modem-manager
# Suppress stderr to eliminate duplicated messages in syslog. MM calls openlog()
# with LOG_PERROR. But systemd redirects stderr to syslog by default, which
# results in logging each message twice.
StandardError=null

[Install]
WantedBy=multi-user.target
