[Unit]
Description=ADSL Deamon

[Service]
Type=forking
ExecStart=/usr/sbin/pppoe-start
ExecStop=/usr/sbin/pppoe-stop

[Install]
WantedBy=multi-user.target
