PATH=/sbin:/bin:/usr/sbin:/usr/bin
SHELL=/bin/bash
HOME=/var/empty

# Minute Hour Date Month Wday User Command

11  *  *  *  *  root  run-cron /etc/cron.hourly
21  4  *  *  *  root  run-cron /etc/cron.daily
41  4  *  *  0  root  run-cron /etc/cron.weekly
51  4  1  *  *  root  run-cron /etc/cron.monthly
