[Unit]
Description=Hefur BitTorrent tracker
After=network.target

[Service]
ExecStart=/usr/bin/hefurd -torrent-dir /var/lib/hefurd
User=hefur
Group=hefur
CPUSchedulingPolicy=batch

[Install]
WantedBy=multi-user.target
