[Desktop Entry]
Name=Links
Comment=Minimal web browser in graphical mode
Exec=xlinks -g
Icon=links-48x48.xpm
Type=Application
Terminal=false
Categories=Network;WebBrowser;
