[Unit]
Description=PIM multicast routing engine
Documentation=man:pimd(8) man:zebra(8)
BindTo=zebra.service
After=network.target zebra.service
ConditionPathExists=/etc/quagga/pimd.conf

[Service]
Type=forking
PIDFile=/run/quagga/pimd.pid
ExecStart=/usr/sbin/pimd -d
Restart=on-abort

[Install]
WantedBy=multi-user.target
