[Unit]
Description=Zabbix Server with MySQL
After=network.target mysql.service
Conflicts=zabbix-server.service zabbix-server-pgsql.service

[Service]
Type=simple
ExecStart=/usr/bin/zabbix_server_mysql -f
User=zabbix-server

[Install]
WantedBy=multi-user.target
