[Desktop Entry]
Categories=Science;Chemistry;
Comment=Viewer for PDB and other Molecular Graphics
Exec=rasmol
GenericName=Molecular Graphics Visualisation Tool
Icon=rasmol
Name=RasMol
Terminal=true
Type=Application
