[Unit]
Description=Prometheus Nginx Exporter
After=network.target nginx.service

[Service]
EnvironmentFile=-/etc/conf.d/nginx-prometheus-exporter
ExecStart=/usr/bin/nginx-prometheus-exporter $NGINX_EXPORTER_ARGS
ExecReload=/bin/kill -HUP $MAINPID
DynamicUser=true

NoNewPrivileges=true
ProtectSystem=full
ProtectKernelModules=true
ProtectKernelTunables=true
PrivateTmp=true
LockPersonality=true
ProtectHostname=true
ProtectHome=true
ProtectControlGroups=true
PrivateDevices=true
PrivateUsers=true
RestrictRealtime=true
CapabilityBoundingSet=
MemoryDenyWriteExecute=true

[Install]
WantedBy=multi-user.target
