[Unit]
Description=A lightweight connection pooler for PostgreSQL
After=network.target

[Service]
User=pgbouncer
ExecStart=/usr/bin/pgbouncer /etc/pgbouncer/pgbouncer.ini
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
