[Desktop Entry]
Name=ATI Catalyst Control Center
Comment=ATI graphics adapter settings
Name[de]=ATI Catalyst Control Center
Comment[de]=ATI grafics adapter settings
SwallowExec=
BinaryPattern=
Icon=ccc_large.xpm
MiniIcon=ccc_small.xpm
Protocols=
MimeType=
Exec=amdcccle
TerminalOptions=
Path=
DocPath=
Type=Application
Terminal=0
Categories=Settings;DesktopSettings;
