[Unit]
Description=Hard drive temperature monitor daemon

[Service]
EnvironmentFile=/etc/conf.d/hddtemp 
ExecStart=/usr/sbin/hddtemp -dF $PARAMS $DRIVES

[Install]
WantedBy=multi-user.target
