[Desktop Entry]
Comment=Archlinux CVS
Exec=xdg-open http://www.archlinux.org/cvs/
Icon=arch-logo.png
Name=CVS
StartupNotify=true
Terminal=false
Type=Application
Categories=Archlinux;
Encoding=UTF-8
