[Desktop Entry]
Type=Application
Version=1.0
Name=XBoard
Comment=An X Window System graphical chessboard
Exec=xboard
Icon=xboard
Terminal=false
Categories=Game;BoardGame
