[Desktop Entry]
Comment=Archlinux Documentation
Exec=xdg-open http://www.archlinux.org/static/docs/arch-install-guide.html
Icon=arch-logo.png
Name=Documentation
StartupNotify=true
Terminal=false
Type=Application
Categories=Archlinux;
Encoding=UTF-8
