[Desktop Entry]
Version=1.0
Name=autopanog
GenericName=Sticher Application
Comment=Picture comparison tools to find matching areas
Exec=autopanog
TryExec=mono
Icon=autopano-sift
StartupNotify=true
Terminal=false
Type=Application
Categories=Graphics;2DGraphics;RasterGraphics;
