[Unit]
Description=TiMidity++ Daemon
After=sound.target

[Service]
ExecStart=/usr/bin/timidity -iAD
Type=forking

[Install]
WantedBy=multi-user.target
