[Unit]
Description=IPv6 DHCP server
After=network.target

[Service]
Type=forking
PIDFile=/run/dhcpd6.pid
ExecStart=/usr/bin/dhcpd -6 -q -pf /run/dhcpd6.pid
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
