[Unit]
Description=RPC Bind
Requires=network.target

[Service]
Type=forking
ExecStart=/usr/bin/rpcbind
Restart=always

[Install]
WantedBy=multi-user.target
