[Desktop Entry]
Name=Ardour 5
Comment=Multitrack hard disk recorder
Exec=ardour5
Icon=/usr/share/ardour5/resources/Ardour-icon_256px.png
Terminal=false
Type=Application
X-MultipleArgs=false
Categories=GTK;Audio;AudioVideoEditing;AudioVideo;Video;
