[Unit]
Description=Prometheus exporter for PostgreSQL
After=network.target

[Service]
EnvironmentFile=-/etc/conf.d/prometheus-postgresql-exporter
ExecStart=/usr/bin/prometheus-postgresql-exporter $POSTGRESQL_EXPORTER_ARGS
Restart=on-failure


PrivateDevices=true

[Install]
WantedBy=multi-user.target
