[Unit]
Description=NFS file locking service.
Requires=rpcbind.service network.target
After=network.target named.service rpcbind.service
Wants=remote-fs-pre.target
Before=remote-fs-pre.target

[Service]
Type=forking
StandardError=syslog+console
EnvironmentFile=-/etc/conf.d/nfs
ExecStartPre=/usr/lib/nfs-utils/scripts/nfs-lock.preconfig
ExecStart=/usr/sbin/rpc.statd $STATDARG
# Make sure lockd's ports are reset
ExecStopPost=-/sbin/sysctl -w fs.nfs.nlm_tcpport=0 fs.nfs.nlm_udpport=0

[Install]
WantedBy=multi-user.target
