[Unit]
Description=pNFS Block Layout Client Mapping Daemon
Documentation=man:blkmapd(8)
After=nfsd.service
RequiresMountsFor=/var/lib/nfs/rpc_pipefs

[Service]
Type=forking
ExecStart=/usr/bin/blkmapd

[Install]
WantedBy=multi-user.target
