[Unit]
Description=pNFS block layout mapping daemon
Wants=var-lib-nfs-rpc_pipefs.mount
Requires=var-lib-nfs-rpc_pipefs.mount

[Service]
Type=forking
EnvironmentFile=-/etc/conf.d/nfs
ExecStart=/usr/sbin/blkmapd $BLKMAPDARGS

[Install]
WantedBy=multi-user.target
