[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Avidemux
Comment=Video Editor
Comment[de]=Video-Bearbeitungsprogramm
Comment[fr]=Éditeur video
Exec=avidemux2_gtk
Terminal=false
Icon=/usr/share/pixmaps/avidemux.png
MimeType=application/x-extension-mp4;application/x-extension-m4a;video/mp4;video/x-m4v;video/mpeg;video/x-mpeg;video/x-avi;
Categories=GTK;AudioVideo;Video;
