[Unit]
Description=A daemon which can be used to alert you in the event of a hardware health monitoring alarm

[Service]
PIDFile=/var/run/healthd.pid
ExecStart=/usr/sbin/healthd

[Install]
WantedBy=multi-user.target
