[Unit]
Description=A lightweight connection pooler for PostgreSQL
After=network.target

[Service]
Group=pgbouncer
ExecStart=/usr/bin/pgbouncer -u pgbouncer /etc/pgbouncer/pgbouncer.ini
ExecReload=/usr/bin/pgbouncer -R

[Install]
WantedBy=multi-user.target
