[Unit]
Description=Prometheus blackbox Exporter
After=network.target

[Service]
ExecStart=/usr/bin/prometheus-blackbox-exporter --config.file="/etc/prometheus/blackbox.yml"
ExecReload=/bin/kill -HUP $MAINPID
DynamicUser=true

[Install]
WantedBy=multi-user.target
