[Desktop Entry]
Name=Thunderbird
Comment=Mail & News Reader
GenericName=Mail Client & News Reader
Exec=thunderbird
Icon=thunderbird
Terminal=false
Type=Application
Categories=Network;Email;
StartupNotify=true
