[Unit]
Description=High-perfomance HTTP accelerator
After=network.target

[Service]
ExecStart=/usr/bin/varnishd -j unix -a 0.0.0.0:80 -a [::]:80 -f /etc/varnish/default.vcl -T localhost:6082 -s malloc,64M -F
ExecReload=/usr/bin/varnish-vcl-reload
PrivateTmp=true
PrivateDevices=true
LimitNOFILE=131072
LimitMEMLOCK=82000
LimitCORE=infinity

[Install]
WantedBy=multi-user.target
