[Desktop Entry]
Type=Application
Name=VisualVM
GenericName=Java VM monitoring and troubleshooting tool
Icon=/usr/share/visualvm/icon.png
Exec=/usr/bin/visualvm
Categories=Development;

