[Unit]
Description=Update XDG user dir configuration
Documentation=man:xdg-user-dirs-update(1)

[Service]
Type=oneshot
ExecStart=/usr/bin/xdg-user-dirs-update

[Install]
WantedBy=default.target
