[Unit]
Description=A remote-mail retrieval utility
After=network.target

[Service]
User=fetchmail
EnvironmentFile=/etc/conf.d/fetchmail
ExecStart=/usr/bin/fetchmail -d ${INTERVAL} -f ${CONFIG}
RestartSec=1

[Install]
WantedBy=multi-user.target
