[Unit]
Description=Talk Server Activation Socket
Documentation=man:talkd(8) man:talk(1)

[Socket]
ListenDatagram=0.0.0.0:518

[Install]
WantedBy=sockets.target
