[Unit]
Description=RPC bind service
Requires=rpcbind.socket

[Service]
Type=forking
EnvironmentFile=/etc/conf.d/rpcbind
ExecStart=/usr/bin/rpcbind -w ${RPCBIND_ARGS}

[Install]
Also=rpcbind.socket
