[Unit]
Description=UDisks

[Service]
Type=dbus
BusName=org.freedesktop.UDisks
ExecStart=/usr/lib/udisks/udisks-daemon

[Install]
WantedBy=graphical.target
