[Desktop Entry]
Encoding=UTF-8
ServiceTypes=inode/directory
Actions=gqview;

[Desktop Action gqview]
Name=Browse with GQview
Name[bg]=Преглед с GQview
Name[br]=Furchal gant GQview
Name[bs]=Pregledaj sa GQview
Name[ca]=Navega amb GQview
Name[cs]=Procházet pomocí GQview
Name[da]=Gennemse med GQview
Name[de]=Dateien mit GQview durchsehen
Name[el]=Εξερεύνηση με το GQview
Name[es]=Navegación con GQview
Name[et]=Lehitse kasutades GQview'd
Name[fr]=Naviguer avec GQview
Name[he]=עיין בעזרת GQview
Name[hi]=ग्वेनव्यू के साथ ब्राउज़ करें
Name[hu]=Böngészés a GQview-val
Name[is]=Skoða með GQview
Name[it]=Sfoglia con GQview
Name[ja]=GQview で閲覧
Name[ms]= Lungsur dengan GQview
Name[nl]=Bladeren met GQview
Name[pl]=Przeglądaj za pomocą GQview
Name[pt]=Navegar com o GQview
Name[pt_BR]=Navegar com GQview
Name[ru]=Просмотреть в GQview
Name[sk]=Prehliadať s GQview
Name[sl]=Brskaj z GQview
Name[sr]=Прегледај помоћу GQview-а
Name[sr@Latn]=Pregledaj pomoću GQview-a
Name[sv]=Bläddra med GQview
Name[ta]=GWEN பார்வையை வைத்து தேடு
Name[tg]=Аз назар гузаронидан бо ёрии GQview
Name[tr]=GQview ile gözat
Name[uk]=Перегляд у GQview
Name[xh]=Khangela nge GQview
Name[xx]=xxBrowse with GQviewxx
Name[zh_CN]=用 GQview 浏览
Name[zh_TW]=以 GQview 瀏覽
Name[zu]=Cinga nge-GQview
Icon=gqview
Exec=gqview %u
