[Desktop Entry]
Encoding=UTF-8
Exec=/usr/bin/designer
Name=Qt 4 Designer
GenericName=Interface Designer
X-KDE-StartupNotify=true
MimeType=application/x-designer
Icon=designer
Terminal=false
Type=Application
Categories=Qt;Development;GUIDesigner
