[Unit]
Description=NFS v4 ID-Name Mapping Daemon
Documentation=man:rpc.idmapd(8) man:idmapd.conf(5)
After=nfsd.service
RequiresMountsFor=/var/lib/nfs/rpc_pipefs
Before=nfs-server.target
PartOf=nfs-server.target

[Service]
Type=forking
EnvironmentFile=/etc/conf.d/nfs-common.conf
ExecStart=/usr/bin/rpc.idmapd $IDMAPD_OPTS

[Install]
WantedBy=multi-user.target
