[Unit]
Description=DHCP/ IPv4LL/ IPv6RA/ DHCPv6 client on all interfaces
Wants=network.target
Before=network.target

[Service]
ExecStart=/usr/bin/dhcpcd -q -B

[Install]
WantedBy=multi-user.target
