[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=xgalaga++
Comment=An enhanced version of xgalaga
Icon=/usr/share/pixmaps/xgalaga++.png
Exec=xgalaga++
Terminal=false
StartupNotify=false
Categories=Application;Game;ArcadeGame

