[Unit]
Description=Service Location Protocol
After=network.target

[Service]
Type=forking
ExecStart=/usr/sbin/slpd -c /etc/slp.conf -r /etc/slp.reg -s /etc/slp.spi
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=network.target
