[Unit]
Description=Tomcat 6 servlet container
After=syslog.target network.target

[Service]
Type=forking
PIDFile=/var/run/tomcat6.pid
Environment=CATALINA_PID=/var/run/tomcat6.pid
Environment=TOMCAT_JAVA_HOME=/usr/lib/jvm/java-7-openjdk
Environment=CATALINA_HOME=/usr/share/tomcat6
Environment=CATALINA_BASE=/usr/share/tomcat6
Environment=CATALINA_OPTS=

ExecStart=/usr/bin/jsvc \
            -Dcatalina.home=${CATALINA_HOME} \
            -Dcatalina.base=${CATALINA_BASE} \
            -Djava.io.tmpdir=/var/tmp/tomcat6/temp \
            -cp /usr/share/java/commons-daemon.jar:/usr/share/java/eclipse-ecj.jar:${CATALINA_HOME}/bin/bootstrap.jar:${CATALINA_HOME}/bin/tomcat-juli.jar \
            -user tomcat \
            -java-home ${TOMCAT_JAVA_HOME} \
            -wait 10 \
            -pidfile /var/run/tomcat6.pid \
            -errfile /var/log/tomcat6/catalina.err \
            -outfile /var/log/tomcat6/catalina.out \
            $CATALINA_OPTS \
            org.apache.catalina.startup.Bootstrap

ExecStop=/usr/bin/jsvc \
            -pidfile /var/run/tomcat6.pid \
            -stop \
            org.apache.catalina.startup.Bootstrap

[Install]
WantedBy=multi-user.target
