[Unit]
Description=Daily man-db cache update

[Timer]
# This is not OnCalendar in order to allow manual starts
# to push back the next scheduled activation
OnBootSec=30s
OnUnitActiveSec=1d
Persistent=true
