[Unit]
Description=Entropy Daemon based on the HAVEGE algorithm
Documentation=man:haveged(8) http://www.issihosts.com/haveged/
DefaultDependencies=no
ConditionVirtualization=!container
Before=sysinit.target shutdown.target systemd-journald.service

[Service]
ExecStart=/usr/sbin/haveged -w 1024 -v 1 --Foreground
Restart=always
SuccessExitStatus=137 143
CapabilityBoundingSet=CAP_SYS_ADMIN
NoNewPrivileges=on
PrivateDevices=on
PrivateNetwork=on
ProtectSystem=full

[Install]
WantedBy=sysinit.target
