# Set options vde_switch program
# To activate this vde profile add it to /etc/conf.d/vde

# Global options
VDE_NUMPORTS="32"  # Number of ports (default 32)
VDE_HUB="no"       # [yes|no] Make the switch act as a hub
VDE_FSTP="no"      # [yes|no] Activate the fast spanning tree protocol
VDE_MAC=""         # Set the Switch MAC address
VDE_PRIORITY=""    # Set the priority for FST (MAC extension)
VDE_HASHSIZE=""    # Hash table size

# Options from datasock module
VDE_SOCK="/var/run/vde/sample.sock"  # control directory pathname
VDE_SOCK_MODE="660"                  # Standard access mode for comm sockets (octal)
VDE_SOCK_GROUP="root"                # Group owner for comm sockets

# Options from consmgmt module
VDE_MANAGEMENT_SOCK="/var/run/vde/sample.mgmt"  # path of the management UNIX socket
VDE_MANAGEMENT_SOCK_MODE="660"                  # management UNIX socket access mode (octal)

# Other options to parse to vde_switch
VDE_OPTIONS=""

# VDE with internet support
# You can use either tuntap method or slirpvde method.

# Options from tuntap module
VDE_TAP=""  # Enable routing through TAP tap interface (comma separated array eg.:"tap0,tap1").

# slirpvde daemon support
SLIRP="no"         # [yes|no] enable/disable SLIRP daemon support
SLIRP_DHCP="no"    # [yes|no] turn on the DHCP server for the network autoconfiguration of all the units connected to the VDE
SLIRP_NETWORK="" # specify the network address (default 10.0.2.0)
# other options to parse to slirpvde
SLIRP_OPTIONS=""
