[Unit]
Description=OpenSSH Per-Connection Daemon
After=sshdgenkeys.service
After=network.target

[Service]
ExecStart=-/usr/sbin/sshd -i
StandardInput=socket
StandardError=syslog
