[Desktop Entry]
Comment=Archlinux development team
Exec=xdg-open http://www.archlinux.org/developers/
Icon=arch-logo
Name=Developers
StartupNotify=true
Terminal=false
Type=Application
Categories=Archlinux;
