[Unit]
Description=Daily fax queue cleanup and deletion of 30 days old faxes

[Service]
Type=oneshot
ExecStart=/usr/bin/faxqclean
ExecStart=/usr/bin/faxcron -rcv 30
Nice=19
IOSchedulingClass=best-effort
IOSchedulingPriority=7

