[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=autopanog
GenericName=Sticher Application
Comment=Picture comparison tools to find matching areas
Exec=autopanog
TryExec=mono
Icon=autopano-sift.png
StartupNotify=true
Terminal=false
Type=Application
Categories=Application;Graphics;2DGraphics;RasterGraphics;
