[Desktop Entry]
Name=Ardour 4
Comment=Multitrack hard disk recorder
Exec=ardour4
Icon=/usr/share/ardour4/icons/ardour_icon_256px.png
Terminal=false
Type=Application
X-MultipleArgs=false
Categories=GTK;Audio;AudioVideoEditing;AudioVideo;Video;
