[Desktop Entry]
Name=dvd::rip
Comment=DVD Ripper and Encoder - Backup and compression utility for DVDs
Exec=/usr/bin/vendor_perl/dvdrip
Icon=/usr/share/perl5/vendor_perl/Video/DVDRip/icon.xpm
Terminal=false
Type=Application
Categories=Application;AudioVideo;Video;
