[Desktop Entry]
Encoding=UTF-8
Name=Tux Racer
Exec=tuxracer
Icon=tuxracer
Terminal=false
Type=Application
Categories=Game;ArcadeGame;
StartupNotify=false
Comment=An OpenGL racing game featuring Tux, the Linux mascot
Comment[de]=Ein OpenGL-Rennen mit Tux, dem Linux-Maskottchen
Comment[hu]=OpenGL-es lesiklójáték Tuxszal, a Linux-pingvinnel
Comment[nn]=Eit OpenGL-basert akespel med Linux-maskoten Tux.
Comment[pl]=Gra wyścigowa z pingwinem Tuksem w roli głównej
GenericName=Racing Game
GenericName[af]=Resies Speletjie
GenericName[ar]=لعبة سباق
GenericName[az]=Yarış Oyunu
GenericName[be]=Гонкі
GenericName[bg]=Рали с пингвин
GenericName[bn]=রেস খেলা
GenericName[bs]=Trkaća igra
GenericName[ca]=Joc de carreres
GenericName[cs]=Závodní hra
GenericName[csb]=Gòńbë
GenericName[cy]=Gêm Rasio
GenericName[da]=Racerspil
GenericName[de]=Ein Wettrennen
GenericName[el]=Παιχνίδι αγώνων ταχύτητας
GenericName[eo]=Skikonkura ludo kun pingveno
GenericName[es]=Juego de carreras
GenericName[et]=Kihutamismäng
GenericName[eu]=Lasterketa jokoa
GenericName[fa]=بازی مسابقه
GenericName[fi]=Kilpa-autopeli
GenericName[fo]=Kappkoyringarspæl
GenericName[fr]=Jeu de course
GenericName[fy]=Racespul
GenericName[ga]=Cluiche Rásála
GenericName[gl]=Xogo de Carreiras
GenericName[he]=משחק מירוצים
GenericName[hi]=दौड़ का खेल
GenericName[hr]=Trkačka igra
GenericName[hsb]=Napřemojězdźenja
GenericName[hu]=Lesiklójáték
GenericName[id]=Permainan Balap
GenericName[is]=Tux á fleygiferð
GenericName[it]=Gara di corsa
GenericName[ja]=レースゲーム
GenericName[ka]=თამაში რბოლა
GenericName[kk]=Бәйге ойыны
GenericName[km]=ល្បែង​ប្រណាំង
GenericName[ko]=레이싱 게임
GenericName[lo]=ເກມແຂ່ງຂັນຄວາມໄວ
GenericName[lt]=Lenktynių žaidimas
GenericName[lv]=Braukšanas Spēle
GenericName[mk]=Тркачка игра
GenericName[mn]=Уралдааны тоглоом
GenericName[ms]=Permainan Lumba
GenericName[mt]=Logħba ta' tiġrijiet
GenericName[nb]=Bilspill
GenericName[nds]=Wettrenn-Speel
GenericName[ne]=दौडने खेल
GenericName[nl]=Racespel
GenericName[nn]=Racerspel
GenericName[nso]=Papadi yago Kitimisana
GenericName[pa]=ਦੌੜ
GenericName[pl]=Wyścigi
GenericName[pt]=Jogo de Corridas
GenericName[pt_BR]=Corrida
GenericName[ro]=Joc de raliu
GenericName[ru]=Игра-гонки
GenericName[rw]=Umukino Isiganwa
GenericName[se]=Racerspeallu
GenericName[sk]=Závody
GenericName[sl]=Dirkalna igra
GenericName[sr]=Тркачка игра
GenericName[sr@Latn]=Trkačka igra
GenericName[ss]=Umdlalo wekugijimisa
GenericName[sv]=Racerspel
GenericName[ta]=ரேசிங் விளையாட்டு
GenericName[te]=రేసింగ్ ఆట
GenericName[tg]=Бозии рониш
GenericName[th]=เกมแข่งขันความเร็ว
GenericName[tr]=Yarış oyunu
GenericName[tt]=Uzış Uyını
GenericName[uk]=Гра в перегони
GenericName[uz]=Poyga oʻyini
GenericName[uz@cyrillic]=Пойга ўйини
GenericName[ven]=Ramitatisano wa Mutambo
GenericName[vi]=Trò đua xe
GenericName[wa]=Djeu d' coûsse
GenericName[xh]=Umdlalo Wogqatso
GenericName[zh_CN]=企鹅滑雪游戏
GenericName[zh_TW]=賽車遊戲
GenericName[zu]=Umdlalo Womjaho
