[Unit]
Description=Deluge Daemon

[Service]
User=deluge
EnvironmentFile=/etc/conf.d/deluged
ExecStart=/usr/bin/deluged -P /run/deluge/deluged.pid $OPTIONS
Type=forking
PIDFile=/run/deluge/deluged.pid
UMask=0002

[Install]
WantedBy=multi-user.target
