[Desktop Entry]
Name=OpenJDK Monitoring & Management Console
Comment=Monitor and manage OpenJDK applications
Exec=/usr/bin/jconsole
Icon=java
Terminal=false
Type=Application
StartupWMClass=sun-tools-jconsole-JConsole
Categories=Development;Monitor;Java;
Version=1.0
