[Desktop Entry]
Name=Xchm
Comment=Views CHM files
Exec=xchm %f
Terminal=false
Type=Application
Icon=xchm-48
Categories=Viewer;Utility;
MimeType=application/x-chm;
StartupNotify=true
