[Unit]
Description=mISDN CAPI daemon

[Service]
Type=forking
ExecStart=/usr/sbin/mISDNcapid
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-abort

[Install]
WantedBy=multi-user.target
