[Desktop Entry]
Name=Azureus
Comment=BitTorrent client with GUI, written in Java
Exec=azureus
Icon=Azureus
Terminal=false
Type=Application
Categories=Network;
