[Unit]
Description=Update man-db cache
RequiresMountsFor=/var/cache/man

[Service]
Type=oneshot
ExecStart=/usr/bin/mkdir -m 0755 -p /var/cache/man
ExecStart=/usr/bin/mandb --quiet
Nice=19
IOSchedulingClass=best-effort
IOSchedulingPriority=7
