[Desktop Entry]
Type=Application
Name=ettercap
GenericName=Ettercap
Comment=Multipurpose sniffer/interceptor/logger
Icon=ettercap.xpm
Exec=gksu "/usr/sbin/ettercap --gtk"
Terminal=false
Categories=Application;Network;System;Security;GTK
