[Unit]
Description=Modem Manager

[Service]
Type=dbus
BusName=org.freedesktop.ModemManager
ExecStart=/usr/sbin/modem-manager

[Install]
WantedBy=multi-user.target
