[Unit]
Description=Secure NFS Server
Requires=var-lib-nfs-rpc_pipefs.mount nfs-server.service
After=syslog.target var-lib-nfs-rpc_pipefs.mount nfs-server.service 

[Service]
Type=forking
EnvironmentFile=-/etc/conf.d/nfs
ExecStartPre=/usr/lib/nfs-utils/scripts/nfs-secure-server.preconfig
ExecStart=/usr/sbin/rpc.svcgssd $RPCSVCGSSDARGS

[Install]
WantedBy=multi-user.target

