[Unit]
Description=Usermin

[Service]
Type=forking
ExecStart=/opt/usermin/miniserv.pl /etc/usermin/miniserv.conf

[Install]
WantedBy=multi-user.target
