[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=VLC Media Player
Comment=VideoLAN Client Media Player
Icon=vlc.png
TryExec=vlc
Exec=vlc
Terminal=false
Categories=AudioVideo;Player;
