[Unit]
Description=A standalone and lightweight BitTorrent tracker
After=network.target

[Service]
ExecStart=/usr/bin/hefurd -torrent-dir /var/lib/hefurd
User=nobody
Group=nobody
CPUSchedulingPolicy=batch

[Install]
WantedBy=multi-user.target
