[Desktop Entry]
Encoding=UTF-8
Exec=/usr/bin/assistant
Name=Qt 4 Assistant
GenericName=Qt4 Document Browser
X-KDE-StartupNotify=true
Icon=/usr/share/pixmaps/assistant.png
Terminal=false
Type=Application
Categories=Qt;Development;Documentation
