[Desktop Entry]
Type=Application
Exec=eric5
MimeType=application/x-eric5;
Icon=eric
Terminal=false
Name=Eric 5
Comment=Python 3.x & Ruby IDE
Categories=Qt;Python;Development;IDE;
StartupNotify=true
