[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=dosbox Emulator
GenericName=Emulator
Comment=An emulator to run old DOS games
Icon=dosbox
Exec=dosbox
Terminal=false
Categories=Emulator;Application;
