[Desktop Entry]
Name=Ardour 3
Comment=Multitrack hard disk recorder
Exec=ardour3
Icon=/usr/share/ardour3/icons/ardour_icon_48px.png
Terminal=false
Type=Application
X-MultipleArgs=false
Categories=GTK;Audio;AudioVideoEditing;AudioVideo;Video;
