[Unit]
Description=YP Bind
Requires=rpcbind.service domainname.service
After=rpcbind.service domainname.service network.target
Before=systemd-user-sessions.service

[Service]
Type=forking
PIDFile=/run/ypbind.pid
ExecStart=/usr/sbin/ypbind

[Install]
WantedBy=multi-user.target
