[Unit]
Description=Samba SMB/CIFS server
After=network.target

[Service]
ExecStart=/usr/sbin/smbd -F
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
