[Unit]
Description=Samba Winbind daemon
After=network.target

[Service]
ExecStart=/usr/sbin/winbindd -F
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
