[Unit]
Description=Kerberos 5 propagation server
Conflicts=krb5-kpropd.service

[Service]
ExecStart=/usr/sbin/kpropd
StandardInput=socket
StandardError=syslog
