[Unit]
Description=Zabbix Server with SQLite
After=network.target
Conflicts=zabbix-server-mysql.service zabbix-server-pgsql.service

[Service]
Type=simple
ExecStart=/usr/bin/zabbix_server_sqlite3 -f
User=zabbix-server

[Install]
WantedBy=multi-user.target
