[Unit]
Description=Zabbix proxy with SQLite
After=network.target
Conflicts=zabbix-proxy-mysql.service zabbix-proxy-pgsql.service

[Service]
Type=simple
ExecStart=/usr/bin/zabbix_proxy_sqlite3 -f
User=zabbix-proxy

[Install]
WantedBy=multi-user.target
