[Unit]
Description=A file transfer program to keep remote files in sync

[Service]
EnvironmentFile=-/etc/conf.d/rsyncd
ExecStart=/usr/bin/rsync --daemon --no-detach ${RSYNCD_ARGS}
RestartSec=1

[Install]
WantedBy=multi-user.target
