[Unit]
Description=K Display Manager
After=systemd-user-sessions.service

[Service]
ExecStart=/usr/bin/kdm -nodaemon

[Install]
WantedBy=graphical.target
