[Unit]
Description=ARP Tables

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/lib/systemd/scripts/arptables start
ExecStop=/usr/lib/systemd/scripts/arptables stop

[Install]
WantedBy=multi-user.target
