[Desktop Entry]
Comment=Maelstrom
Exec=/usr/bin/Maelstrom
Icon=/usr/share/Maelstrom/icon.xpm
Name=Maelstrom
StartupNotify=false
Terminal=false
Type=Application
Categories=Game;
